@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(226deg, 43%, 10%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
}

.dashboard {
  display: block;
  width: 90%;
  gap: 2rem;
}
@media (min-width: 1060px) {
  .dashboard {
    display: flex;
    justify-content: center;
  }
}
.dashboard__description {
  background-color: hsl(235deg, 46%, 20%);
  width: 100%;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
}
@media (min-width: 1060px) {
  .dashboard__description {
    margin-bottom: 0;
    width: 26rem;
  }
}
.dashboard__description__profile {
  background-color: hsl(246deg, 80%, 60%);
  padding: 3rem;
  border-radius: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 1060px) {
  .dashboard__description__profile {
    display: block;
    padding-bottom: 8rem;
    height: 34rem;
  }
}
.dashboard__description__profile:hover {
  background-color: hsl(235deg, 45%, 61%);
}
.dashboard__description__profile__image {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  border: 0.2rem solid white;
}
@media (min-width: 1060px) {
  .dashboard__description__profile__image {
    margin-bottom: 3rem;
  }
}
.dashboard__description__profile__image img {
  width: 100%;
  height: 100%;
}
.dashboard__description__profile span {
  color: hsl(236deg, 100%, 87%);
  font-weight: 300;
  font-size: 2.5rem;
}
.dashboard__description__profile span br {
  content: " ";
}
@media (min-width: 1060px) {
  .dashboard__description__profile span {
    font-size: 3.5rem;
  }
  .dashboard__description__profile span br {
    content: "";
  }
}
.dashboard__description__profile h1 {
  color: hsl(236deg, 100%, 87%);
  font-weight: 400;
  font-size: 1.6rem;
}
.dashboard__description__time {
  padding: 2.5rem;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 1060px) {
  .dashboard__description__time {
    display: block;
  }
}
.dashboard__description__time p {
  font-weight: 300;
  margin-bottom: 1.5rem;
  color: hsl(235deg, 45%, 61%);
}
.dashboard__description__time p:hover {
  color: white;
  cursor: pointer;
}
.dashboard__report {
  width: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
}
@media (min-width: 1060px) {
  .dashboard__report {
    width: 25rem;
  }
}
.dashboard__report__wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 1060px) {
  .dashboard__report__wrapper {
    display: grid;
  }
}
.dashboard__report__image {
  height: 6rem;
  position: relative;
  overflow: hidden;
}
.dashboard__report__image img {
  position: absolute;
  right: 1.5rem;
}
.dashboard__report__description {
  height: 100%;
  background-color: hsl(235deg, 46%, 20%);
  border-radius: 1.5rem;
  padding: 2rem;
  cursor: pointer;
}
.dashboard__report__description:hover {
  background-color: hsl(236deg, 43%, 31%);
}
.dashboard__report__description h1 {
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.dashboard__report__description p {
  color: hsl(235deg, 45%, 61%);
}

.flex2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1060px) {
  .flex2 {
    display: block;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.5rem;
}
.flex p {
  color: white;
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */